@page
@model EFCore.Presentation.Pages.ProductCategory.CreateProductCategoryModel
@{
}
<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="name"> ایجاد گروه محصول</label>
            <input class="form-control" name="CategoryName" value="" id="name" type="text" />
        </div>
        <div class="col-md-6">
<button type="submit" class="btn btn-success">ایجاد </button>
        </div>

    </div>
</form>
