@page
@model EFCore.Presentation.Pages.ProductCategory.CreateProductCategoryModel
@{
}
<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="name" class="pb-5"> ایجاد گروه محصول</label>
            <input class="form-control" name="CategoryName" value="" id="name" type="text" />
  <div class="pt-3">
<button type="submit" class="btn btn-success form-control">ایجاد </button>
  </div>
            
        </div>

    </div>
</form>
