@page
@model EFCore.Presentation.Pages.ProductCategory.EditProductCategoryModel
@{
}
<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="@Model.Command.CategoryName"> ویرایش گروه محصول</label>
            <input class="form-control" asp-for="@Model.Command.CategoryName"  type="text" />
        </div>
        <input type="hidden" asp-for="@Model.Command.CategoryID" value="@Model.Command.CategoryID" />
        <div class="col-md-12">
            <br />
<button type="submit" class="btn btn-success ">ویرایش </button>
        </div>
    </div>
</form>
